<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/layout.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-custom">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Recruitment Administration System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse container-navigation">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (User.Identity.IsAuthenticated && Session["Role"] != null)
                    {

                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Companies", "Index", "Company")</li>
                            <li>@Html.ActionLink("JobPosts", "Index", "JobPosts")</li>
                            <li>@Html.ActionLink("JobApplication", "Index", "JobApplication")</li>
                            <li>@Html.ActionLink("Candidate", "Index", "Candidate")</li>
                        }
                        else if (User.IsInRole("Candidate"))
                        {
                            <li>@Html.ActionLink("JobPosts", "Index", "JobPosts")</li>
                            <li>@Html.ActionLink("Applied Jobs", "AppliedJobs", "JobApplication", new { username = User.Identity.Name }, null)</li>
                        }
                        else if (User.IsInRole("Company"))
                        {
                            <li>@Html.ActionLink("MyPosts", "MyJobPosts", "JobPosts", new { username = User.Identity.Name }, null)</li>
                            <li>@Html.ActionLink("Job Application", "Index", "JobApplication")</li>
                            <li>@Html.ActionLink("Staff", "Index", "Staff", new { id = Convert.ToInt32(Session["UID"]) }, null)</li>


                        }
                        <li class="action-container">
                            <img src="@Url.Content(Session["Img"].ToString())" id="logo" height="52px" width="52px" />
                            <div class="actions">
                                @Html.ActionLink("Logout", "Logout", "Account")
                                @Html.ActionLink("Profile", "MyProfile", "User", new { id = Convert.ToInt32(Session["UID"]) }, null)
                                @Html.ActionLink("Edit Profile", "EditMyProfile", "User", new { id = Convert.ToInt32(Session["UID"]) }, null)
                            </div>
                        </li>
                        @*<li><div text-danger>Dear @User.Identity.Name</div></li>*@




                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }


                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>