@model IEnumerable<RecruitmentAdministrationSystemProject.Models.Staff>

@{
    ViewBag.Title = "Index";
}
<header>
    <link href="~/Content/all.css" rel="stylesheet"/>
</header>

<div class="HeaderClass"><h2>Staff List</h2></div>


@if (Model.Count() != 0)
{
    <table class="table box-shadow table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyUrl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @if (item.isAuthenticated == true)
                    {
                        <div>Authenticated</div>
                    }
                    else
                    {
                        <div>Unauthenticated</div>
                    }

                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyUrl)
                </td>
                <td>
                    @if (item.isAuthenticated == false)
                    {
                        @Html.ActionLink("Aprove", "Authenticate", new { id = item.StaffId }, new { @class = "DetailsButton staffButton" })
                    }
                    else
                    {
                        @Html.ActionLink("Disaprove", "Disapprove", new { id = item.StaffId }, new { @class = "DeleteButton staffButton2" })
                    }
                </td>
            </tr>
        }

    </table>

}
else
            {
                <h4>No record Found</h4>
            }
