@model RecruitmentAdministrationSystemProject.Models.User

@{
    ViewBag.Title = "MyProfile";
}


<header>
    <link href="~/Content/MyProfile.css" rel="stylesheet" />
</header>

<body>
    <div class="divImg">
        <img src="@Url.Content(Model.Img)" height="200px" width="200" class="profileImg" />
    </div>
    <div class="UserContainer">
        <div class="UserMenu">
            UserName
        </div>
        <div class="UserData">
            @Model.UserName
        </div>


        <div class="UserMenu">
            Name
        </div>
        <div class="UserData">
            @Model.Name

        </div>


        <div class="UserMenu">
            Mobile Number
        </div>
        <div class="UserData">
            @Model.MobileNo
        </div>


        <div class="UserMenu">
            Email
        </div>
        <div class="UserData">
            @Model.Email
        </div>


        <div class="UserMenu">
            Location
        </div>
        <div class="UserData">
            @Model.Location
        </div>
    </div>

</body>