@model IEnumerable<RecruitmentAdministrationSystemProject.Models.Interview>

@{
    ViewBag.Title = "ScheduledInterview";
}

<header>
    <link href="~/Content/all.css" rel="stylesheet" />
</header>

<body>
    <div class="HeaderClass">
        <h2>Scheduled Interview</h2>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MettingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MettingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusId)
                </td>
                <td>
                    @{
                        var datetime = item.InterviewDate.Value.ToLongDateString();
                    }
                    @datetime
                </td>
                <td>
                    @{
                        var interviewTime = item.InterviewTime.Value.ToShortTimeString();
                    }
                    @interviewTime
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.InterviewID }, new { @class = "action-link DetailsButton buttonClass" })
                </td>
            </tr>
        }

    </table>

</body>