@model RecruitmentAdministrationSystemProject.Models.Company

@{
    ViewBag.Title = "CreateCompanyInformation";
}
<head>
    <link href="~/Content/CompanySignIn.css" rel="stylesheet"/>
</head>

<body>
    <div class="main">
        <div class="register">
            <h2>Company Details</h2>
            @using (Html.BeginForm("CreateCompanyInformation", "Company", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
        <div class="singup-form">
            <div class="UserIdClass">
                <div class="col-md-10 hidden">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">Company URL</label>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyUrl, "", new { @class = "text-danger" })
                </div>

            </div>
            <div>
                <label for="Name">About Company</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AboutCompany, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AboutCompany, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">Employee Count</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmployeeCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeCount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">Found Date</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FoundDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FoundDate, "", new { @class = "text-danger" })
                </div>
            </div>

              </div>
                <div class="submit-btn-container">
                    <input type="submit" value="Submit" name="submit" id="submit" />
                </div>
            }

        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
