@model RecruitmentAdministrationSystemProject.Models.JobPost

@{
    ViewBag.Title = "Details";
}
<header>
    <link href="~/Content/JobDetails.css" rel="stylesheet"/>
</header>


<body>
    <div class="divImg">
        <img src="@Url.Content(Model.Company.User.Img)" height="200px" width="200" class="profileImg" />
    </div>
    <div class="mycontainer">
        <div class="UserContainer">
            <div class="UserMenu">
                Company Name
            </div>
            <div class="UserData">
                @Model.Company.User.Name
            </div>


            <div class="UserMenu">
                Email
            </div>
            <div class="UserData">
                @Model.Company.User.Email

            </div>


            <div class="UserMenu">
                Company URL
            </div>
            <div class="UserData">
                @Model.Company.CompanyUrl
            </div>


            <div class="UserMenu">
                Employee Count
            </div>
            <div class="UserData">
                @Model.Company.EmployeeCount
            </div>


            <div class="UserMenu">
                Company Location
            </div>
            <div class="UserData">
                @Model.Location
            </div>
        </div>
        <div class="UserContainer2">
            <div class="UserMenu">
                Job Profile
            </div>
            <div class="UserData">
                @Model.Title
            </div>


            <div class="UserMenu">
                Required Experience
            </div>
            <div class="UserData">
                @Model.RequiredExperience

            </div>


            <div class="UserMenu">
                CTC
            </div>
            <div class="UserData">
                @Model.CTC
            </div>


            <div class="UserMenu">
                SKILL-1
            </div>
            <div class="UserData">
                @Model.Skill_1
            </div>
            <div class="UserMenu">
                SKILL-2
            </div>
            <div class="UserData">
                @Model.Skill_3
            </div>
            <div class="UserMenu">
                SKILL-3
            </div>
            <div class="UserData">
                @Model.Skill_3
            </div>



            <div class="UserMenu">
                Job Location
            </div>
            <div class="UserData">
                @Model.Location
            </div>
            <div class="UserMenu">
                SSC Marks
            </div>
            <div class="UserData">
                @Model.SSCMarks
            </div>
            <div class="UserMenu">
                HSC Marks
            </div>
            <div class="UserData">
                @Model.HSCMarks
            </div>



            <div class="UserMenu">
                UG Marks
            </div>
            <div class="UserData">
                @Model.UGMarks
            </div>
        </div>

    </div>

    <div class="buttonDiv">
        @Html.ActionLink("Apply", "signup", null, new { @class = "form-input-button singup" })
    </div>
</body>