@model IEnumerable<RecruitmentAdministrationSystemProject.Models.JobPost>

@{
    ViewBag.Title = "Index";
}
<header>
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/JobPost.css" rel="stylesheet" />

</header>

@if (User.IsInRole("Company"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (TempData["ErrorMessage"] != null)
{
    @Html.Raw(TempData["ErrorMessage"]);
}

<div class="JobHeadingClass">
    <h2>Job Posts</h2>
    <div class="Jobsearch">
        @using (Html.BeginForm("Index2", "JobPosts"))
        {
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" placeholder="Search By Skill, Job Title & Company" name="search" class="JobsearchInput" />
            <input type="submit" value="Find Now" class="@*buttonDiv*@ JobsearchButton" />
        }
    </div>
</div>


<div class="JobmainContainer">

    @foreach (var job in Model)
    {
        <div class="JobcardContainer">
            <div class="JobCard">
                <div class="imgClass"><div><img class="myCardImg card-img-top " src="@Url.Content(job.Company.User.Img)" alt="Card image cap"></div></div>
                <div class="card-body cardBody">
                    <div class="cardBodyItem"><h4>Company</h4></div>
                    <div class="cardBodyItem">@job.Company.User.Name</div>
                    <div class="cardBodyItem"><h4>Title</h4></div>
                    <div class="cardBodyItem">@job.Title</div>
                    <div class="cardBodyItem"><h4>Location</h4></div>
                    <div class="cardBodyItem">@job.Location</div>

                </div>
                <div class="JobbuttonDiv">
                    @Html.ActionLink("Details", "Details", new { id = job.JobId }, new { @class = "Jobsingup JobbuttonDiv" })
                </div>
            </div>
        </div>
    }

</div>


