@model IEnumerable<RecruitmentAdministrationSystemProject.Models.JobPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData["ErrorMessage"] != null)
            {
                @Html.Raw(TempData["ErrorMessage"]);
            }
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfOpening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.RequiredBatch)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyUrl)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.Company.User.Img)" height="25px" width="25px">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfOpening)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.RequiredBatch)
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyUrl)
        </td>

        @if (User.Identity.IsAuthenticated && ((Session["Role"]).ToString() == "Company" || (Session["Role"]).ToString() == "Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
            </td>
        }
        else
        {
    <td> @Html.ActionLink("Details", "Details", new { id = item.JobId }) |@Html.ActionLink("Apply", "Apply", new { id = item.JobId })</td>
        }
    </tr>
}

</table>
