@model RecruitmentAdministrationSystemProject.Models.CandidateInfo

@{
    ViewBag.Title = "CandidateDetails";
}

<header>
    <link href="~/Content/CandidateDetails.css" / rel="stylesheet">
</header>


@if (Model != null)
{
    <body>
        <section style="background-color: #eee;">
            <div class="container py-5">

                <div id="Sample"></div>
                <div class="row m-4">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="@Url.Content(Model.User.Img)" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">@Model.User.Name</h5>
                                <p class="text-muted mb-1">@Model.User.MobileNo</p>
                                <p class="text-muted mb-4">@Model.User.Location</p>
                                <div class="d-flex justify-content-center mb-2">
                                   @*<button type="button" class="btn btn-primary">@Html.Action("Delete", "Candidate", new {id=Model.UserId})</button>*@
                                   
                             
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fas fa-globe fa-lg text-warning"></i>
                                        <p class="mb-0">Scores</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <span>SSC</span>
                                        <span class="mb-0">@Model.SSC_Marks</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <span>HSC</span>
                                        <span class="mb-0">@Model.HSC_Marks</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <span>UG Marks</span>
                                        <span class="mb-0">@Model.UG_Marks</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.User.Name</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.User.Email</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.User.MobileNo</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Location</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.User.Location</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">UG College</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.UG_College</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </section>

    </body>
}
else
{

}
