@model RecruitmentAdministrationSystemProject.Models.CandidateInfo

@{
    ViewBag.Title = "CreateCandidateInfo";
}
<head>
    <link href="~/Content/CreateCandidate.css" rel="stylesheet"/>
</head>


<body>
    <div class="main">
        <div class="register">
            <h2>Candidate Information</h2>
            @using (Html.BeginForm("CreateCandidateInfo", "Candidate", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
        <div class="singup-form">
            <div>
                <label for="Name">SSC Marks</label>
                <div class="input-container">
                    @Html.EditorFor(model => model.SSC_Marks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SSC_Marks, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">SSC Passing Year</label>
                <div class="input-container">
                    @Html.EditorFor(model => model.SSC_PassingYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SSC_PassingYear, "", new { @class = "text-danger" })

                </div>
            </div>
            <div>
                <label for="Name">SSC College</label>
                <div class="input-container">
                    @Html.EditorFor(model => model.SSC_College, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SSC_College, "", new { @class = "text-danger" })
                </div>

            </div>
            <div>
                <label for="Name">HSC Marks</label>
                <div class="input-container">

                    @Html.EditorFor(model => model.HSC_Marks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HSC_Marks, "", new { @class = "text-danger" })
                </div>

            </div>
            <div>
                <label for="Name">HSC College</label>
                <div class="input-container">
                    @Html.EditorFor(model => model.HSC_College, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HSC_College, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">Ug Marks</label>
                <div class="input-container">
                    @Html.EditorFor(model => model.UG_Marks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UG_Marks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <label for="Name">UG Passing Year</label>
                <div class="input-container">
                    @Html.EditorFor(model => model.UG_PassingYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UG_PassingYear, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">UG College</label>
                <div class="input-container">
                    @Html.EditorFor(model => model.UG_College, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UG_College, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">Skill 1</label>
                <div class="input-container">
                    @Html.DropDownListFor(model => model.Skill_1, new SelectList(ViewBag.Skills, "SkillsID", "SkillName"), "Select skills", new { @class = "form-control selectlist" })                   
                    @Html.ValidationMessageFor(model => model.Skill_1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <label for="Name">Skill 2</label>
                <div class="input-container">
                    @Html.DropDownListFor(model => model.Skill_2, new SelectList(ViewBag.Skills, "SkillsID", "SkillName"), "Select skills", new { @class = "form-control selectlist" })                   
                    @Html.ValidationMessageFor(model => model.Skill_2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label for="Name">Skill 3</label>
                <div class="input-container">
                    @Html.DropDownListFor(model => model.Skill_3, new SelectList(ViewBag.Skills, "SkillsID", "SkillName"), "Select skills", new { @class = "form-control selectlist" })                   
                    @Html.ValidationMessageFor(model => model.Skill_3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
                <div class="submit-btn-container">
                    <input type="submit" value="Submit" name="submit" id="submit" />
                </div>
            }

        </div>
    </div>
</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
