@model IEnumerable<RecruitmentAdministrationSystemProject.Models.CandidateInfo>

@{
    ViewBag.Title = "Index";
}

<header>
    <link href="~/Content/all.css" rel="stylesheet"/>
</header>


<div class="HeaderClass">
    <h2>Candidate Information</h2>
</div>

@if (Model != null)
{
    <table class="table table-striped table-bordered">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UG_PassingYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UG_Marks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill_1)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UG_PassingYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UG_Marks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Skill_1)
                </td>
                <td>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.CandidateId }) |*@
                    @Html.ActionLink("Details", "CandidateDetails", new { id = item.User.UserId }, new {@class= "DetailsButton buttonClass" }) |
                    @Html.ActionLink("Delete", "DeleteCandidate", new { id = item.User.UserId }, new {@class= "DeleteButton buttonClass2" })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>No Education Details Found</h4>
}