@model RecruitmentAdministrationSystemProject.Models.User

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" />
</head>


<body>
    @using (Html.BeginForm("Login","Account"))
    {
        @Html.AntiForgeryToken()
        <div class="form-page">
            <div class="form-container">
                <h2>Login</h2>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-input-field", @placeHolder = "User Name" } })

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-input-field", @placeHolder = "Your Password", @type = "password" } })


                <button class="form-input-button login" type="submit">Login</button>

               @*<button class="form-input-button singup" type="button">
                </button>*@
                @Html.ActionLink("Sign Up", "signup",null,  new { @class = "form-input-button singup"  })

            </div>

        </div>

        <!--<div action="index.html" class="box">
            <h1>Login</h1>
            <div class="input-box">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                <span></span>
            </div>
            <div class="input-box">-->
        @*  *@
        <!--<i class="fa fa-lock" aria-hidden="true"></i>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                <span></span>
            </div>
            <button type="submit">Login</button>
            <div class="signup_link">
                <button type="button" id="submit">
                    @Html.ActionLink("SignUp", "SignUp");
                </button>
            </div>
        </div>-->
    }
</body>
</html>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
