@model RecruitmentAdministrationSystemProject.Models.JobApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Img)
        </dt>

        <dd>
            <img src="@Url.Content(Model.User.Img)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.MobileNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobPost.Company.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPost.Company.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbleToReallocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbleToReallocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrevCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrevCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticePeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>





    </dl>
</div>
@if (User.Identity.IsAuthenticated && ((Session["Role"]).ToString() == "Company" || (Session["Role"]).ToString() == "Admin" || (Session["Role"]).ToString() == "Staff"))
{
    @Html.ActionLink("Shedule Interview", "Create", "Interview", new { id = Model.UserId, companyId = Model.JobPost.CompanyID }, null);
<div>
    @using (Html.BeginForm("EditStatus", "JobApplication", new { id = Model.ApplicationId }, FormMethod.Post, new { }))
    {
        <span class="align-content-lg-center">Status :  </span>
        @*<input type="text" placeholder="Edit Status" name="newstatus" />*@
        @Html.DropDownList("newstatus", new SelectList(ViewBag.Status, "Status1", "Status1"), "Select Status", new { @class = "form-control selectlist" })
        <input type="submit" value="Edit Satus" />
        <br />
        <br />
    }
</div>
}


